In [1]:
import pandas as pd
import seaborn as sns
from openpyxl import Workbook
from openpyxl.chart import BarChart, Reference
from openpyxl.drawing.image import Image
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.utils import get_column_letter
from openpyxl.utils.dataframe import dataframe_to_rows
from openpyxl.worksheet.table import Table, TableStyleInfo
from openpyxl.styles import PatternFill

In [2]:
# Read in the data 
complete_cases = pd.read_excel('data/complete_cases.xlsx')
complete_cases.head()

,Unnamed: 0,email,cohort,pre,post,age,sex,education,satisfaction,study_hours,post_pct
0,0,smehaffey0@creativecommons.org,4,485,494,32,Male,Bachelor's,2,36.6,0.67500
1,5,kbridgnell5@webnode.com,1,484,503,32,Female,Bachelor's,6,32.2,0.88125
2,6,abotham6@usda.gov,1,497,501,30,Female,Bachelor's,10,32.3,0.82500
3,7,szeal7@pinterest.com,2,451,457,32,Male,Bachelor's,4,26.2,0.12500
4,8,ikidby8@who.int,4,452,448,29,Female,Bachelor's,9,27.9,0.08750

In [3]:
# Create a new workbook and select the worksheet
wb = Workbook()

# Assign the active worksheet to ws
ws = wb.active

In [4]:
ws['A1'] = "Average pre score"
ws['B1'] = round(complete_cases['pre'].mean(), 2)  # Round output to two decimals

ws['A2'] = "Average post score"
ws['B2'] = round(complete_cases['post'].mean(), 2)

In [5]:
ws.column_dimensions['A'].width = 16

In [6]:
ws2 = wb.create_sheet(title='data')

In [7]:
for row in dataframe_to_rows(complete_cases, index=False, header=True):
    ws2.append(row)

In [8]:
post_pct_loc = complete_cases.columns.get_loc('post_pct') + 1
post_pct_col = get_column_letter(post_pct_loc) 
post_pct_col

'K'

In [9]:
number_format = '0.0%'

for cell in ws2[post_pct_col]:
    cell.number_format = number_format

In [10]:
# Specify desired table formatting
style = TableStyleInfo(name='TableStyleMedium9', showRowStripes=True)

# Name and identify range of table
table = Table(displayName='contestants', 
              ref='A1:' + get_column_letter(ws2.max_column) + str(ws2.max_row))
              
# Apply styling and insert in worksheet 
table.tableStyleInfo = style
ws2.add_table(table)

In [11]:
wb.save('output/complete_cases_summarize.xlsx')
wb.close()