In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# Read in the data 
contestants = pd.read_excel('data/contestants.xlsx')
contestants.head()

,EMAIL,COHORT,PRE,POST,AGE,SEX,EDUCATION,SATISFACTION,STUDY_HOURS
0,smehaffey0@creativecommons.org,4,485,494,32.0,Male,Bachelor's,2,36.6
1,dbateman1@hao12@.com,4,462,458,33.0,Female,Bachelor's,8,22.4
2,bbenham2@xrea.com,3,477,483,NaN,Female,Bachelor's,1,19.8
3,mwison@@g.co,2,480,488,31.0,Female,Bachelor's,10,33.1
4,jagostini4@wordpress.org,1,495,494,38.0,Female,NaN,9,32.5

In [3]:
# Convert headers to all lowercase
contestants.columns = contestants.columns.str.lower()
contestants.head()

,email,cohort,pre,post,age,sex,education,satisfaction,study_hours
0,smehaffey0@creativecommons.org,4,485,494,32.0,Male,Bachelor's,2,36.6
1,dbateman1@hao12@.com,4,462,458,33.0,Female,Bachelor's,8,22.4
2,bbenham2@xrea.com,3,477,483,NaN,Female,Bachelor's,1,19.8
3,mwison@@g.co,2,480,488,31.0,Female,Bachelor's,10,33.1
4,jagostini4@wordpress.org,1,495,494,38.0,Female,NaN,9,32.5

In [4]:

# Define a regular expression pattern for valid email addresses
email_pattern = r'^[a-z0-9]+[\._]?[a-z0-9]+[@]\w+[.]\w{2,3}$'

In [5]:
full_emails = contestants[contestants['email'].str.contains(email_pattern)]

In [6]:
# Dimensions of original DataFrame
contestants.shape

(100, 9)

In [7]:

# Dimensions of DataFrame with valid emails
full_emails.shape

(82, 9)

In [8]:
# Missing values
full_emails.isnull().mean().sort_values(ascending=False)

age             0.012195
education       0.012195
email           0.000000
cohort          0.000000
pre             0.000000
post            0.000000
sex             0.000000
satisfaction    0.000000
study_hours     0.000000
dtype: float64

In [9]:
complete_cases = full_emails.dropna()

In [10]:
complete_cases.info()

<class 'pandas.core.frame.DataFrame'>
Index: 80 entries, 0 to 99
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   email         80 non-null     object
 1   cohort        80 non-null     int64
 2   pre           80 non-null     int64
 3   post          80 non-null     int64
 4   age           80 non-null     float64
 5   sex           80 non-null     object
 6   education     80 non-null     object
 7   satisfaction  80 non-null     int64
 8   study_hours   80 non-null     float64
dtypes: float64(2), int64(4), object(3)
memory usage: 6.2+ KB

In [11]:
complete_cases.to_excel('output/complete_cases.xlsx')